Flipkart-data-factory/ARMTemplateForFactory.json
{
	"$schema": "http://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#",
	"contentVersion": "1.0.0.0",
	"parameters": {
		"factoryName": {
			"type": "string",
			"metadata": "Data Factory name",
			"defaultValue": "Flipkart-data-factory"
		},
		"ConnectFlipkartStorage_accountKey": {
			"type": "secureString",
			"metadata": "Secure string for 'accountKey' of 'ConnectFlipkartStorage'"
		},
		"ConnectFlipkartDatasetUsingBatchAccount_connectionString": {
			"type": "secureString",
			"metadata": "Secure string for 'connectionString' of 'ConnectFlipkartDatasetUsingBatchAccount'"
		},
		"ConnectBatchPool_accessKey": {
			"type": "secureString",
			"metadata": "Secure string for 'accessKey' of 'ConnectBatchPool'"
		},
		"ConnectFlipkartStorage_properties_typeProperties_url": {
			"type": "string",
			"defaultValue": "https://flipkartdataset.dfs.core.windows.net/"
		},
		"ConnectKaggle_properties_typeProperties_url": {
			"type": "string",
			"defaultValue": "https://www.kaggle.com/api/v1/datasets/download/iyumrahul/flipkartsalesdataset"
		},
		"ConnectBatchPool_properties_typeProperties_batchUri": {
			"type": "string",
			"defaultValue": "https://flipkartresrouces.eastus.batch.azure.com"
		},
		"ConnectBatchPool_properties_typeProperties_poolName": {
			"type": "string",
			"defaultValue": "ResourcePool"
		},
		"ConnectBatchPool_properties_typeProperties_accountName": {
			"type": "string",
			"defaultValue": "flipkartresrouces"
		}
	},
	"variables": {
		"factoryId": "[concat('Microsoft.DataFactory/factories/', parameters('factoryName'))]"
	},
	"resources": [
		{
			"name": "[concat(parameters('factoryName'), '/FLIPKART_PIPELINE')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Download Dataset",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [
							{
								"name": "Destination",
								"value": "01-raw//archive"
							}
						],
						"typeProperties": {
							"source": {
								"type": "BinarySource",
								"storeSettings": {
									"type": "HttpReadSettings",
									"requestMethod": "GET"
								},
								"formatSettings": {
									"type": "BinaryReadSettings"
								}
							},
							"sink": {
								"type": "BinarySink",
								"storeSettings": {
									"type": "AzureBlobFSWriteSettings"
								}
							},
							"enableStaging": false
						},
						"inputs": [
							{
								"referenceName": "SourceDataset_bk9",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "DestinationDataset_bk9",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					},
					{
						"name": "Unzip",
						"type": "Custom",
						"dependsOn": [
							{
								"activity": "Download Dataset",
								"dependencyConditions": [
									"Completed"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"command": "cmd /C python extract.py",
							"resourceLinkedService": {
								"referenceName": "ConnectFlipkartDatasetUsingBatchAccount",
								"type": "LinkedServiceReference"
							},
							"folderPath": "00-scripts",
							"referenceObjects": {
								"linkedServices": [],
								"datasets": []
							}
						},
						"linkedServiceName": {
							"referenceName": "ConnectBatchPool",
							"type": "LinkedServiceReference"
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {}
				},
				"annotations": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/SourceDataset_bk9')]",
				"[concat(variables('factoryId'), '/datasets/DestinationDataset_bk9')]",
				"[concat(variables('factoryId'), '/linkedServices/ConnectBatchPool')]",
				"[concat(variables('factoryId'), '/linkedServices/ConnectFlipkartDatasetUsingBatchAccount')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/DestinationDataset_bk9')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "ConnectFlipkartStorage",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "Binary",
				"typeProperties": {
					"location": {
						"type": "AzureBlobFSLocation",
						"fileName": "archive",
						"fileSystem": "01-raw"
					}
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/ConnectFlipkartStorage')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/SourceDataset_bk9')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "ConnectKaggle",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "Binary",
				"typeProperties": {
					"location": {
						"type": "HttpServerLocation"
					}
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/ConnectKaggle')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/ConnectFlipkartStorage')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "AzureBlobFS",
				"typeProperties": {
					"url": "[parameters('ConnectFlipkartStorage_properties_typeProperties_url')]",
					"accountKey": {
						"type": "SecureString",
						"value": "[parameters('ConnectFlipkartStorage_accountKey')]"
					}
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/ConnectKaggle')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "HttpServer",
				"typeProperties": {
					"url": "[parameters('ConnectKaggle_properties_typeProperties_url')]",
					"enableServerCertificateValidation": true,
					"authenticationType": "Anonymous"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/ConnectFlipkartDatasetUsingBatchAccount')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "AzureBlobStorage",
				"typeProperties": {
					"connectionString": "[parameters('ConnectFlipkartDatasetUsingBatchAccount_connectionString')]"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/ConnectBatchPool')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "AzureBatch",
				"typeProperties": {
					"batchUri": "[parameters('ConnectBatchPool_properties_typeProperties_batchUri')]",
					"poolName": "[parameters('ConnectBatchPool_properties_typeProperties_poolName')]",
					"accountName": "[parameters('ConnectBatchPool_properties_typeProperties_accountName')]",
					"linkedServiceName": {
						"referenceName": "ConnectFlipkartDatasetUsingBatchAccount",
						"type": "LinkedServiceReference"
					},
					"accessKey": {
						"type": "SecureString",
						"value": "[parameters('ConnectBatchPool_accessKey')]"
					}
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/ConnectFlipkartDatasetUsingBatchAccount')]"
			]
		}
	]
}